<div>
  <img
    src="../../../assets/login-images/login-background-images.jpg"
    style="position: absolute; width: 98%"
  />
  <fieldset class="fieldset">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h3 style="font-size: 22px; margin-left: 62px">LOGIN</h3>

      <label>User name</label><br />

      <input
        type="email"
        placeholder="enter your username"
        formControlName="user"
      />
      <br /><br />
      <label>Password</label><br />
      <input
        type="password"
        placeholder="enter your password"
        formControlName="password"
      />
      <br />
      <br />
      <button type="submit" class="login-btn">LOGIN</button><br />

      <p style="font-size: 11px; margin-left: 89px">
        Not a member?
        <span
          (click)="navigateToSignup()"
          style="border-bottom: 1px solid; font-size: 12px"
          >signup now</span
        >
      </p>
    </form>
  </fieldset>
</div>
