<div>
  <img
    src="../../../assets/login-images/login-background-images.jpg"
    style="position: absolute; width: 98%"
  />
  <fieldset class="fieldset">
    <form>
      <span class="material-symbols-outlined" (click)="navigateToLogin()">
        arrow_back
      </span>
      <h3 style="font-size: 26px; margin-left: 154px">Sign Up</h3>
      <div style="display: flex">
        <div style="width: 50%">
          <label class="lable" style="font-size: 17px">First Name</label><br />
          <input type="text" placeholder="enter your first name" /><br /><br />
          <label class="lable" style="font-size: 17px">Address</label><br />
          <input type="text" placeholder="enter your address" />
          <br /><br />
          <label class="lable">Email</label><br />
          <input type="Email" placeholder="enter your email" />
          <br /><br />
        </div>
        <div style="width: 50%">
          <label class="lable">Last Name</label><br />
          <input type="text" placeholder="enter your last name" />
          <br />
          <br />
          <label class="lable">Contact No. </label><br />
          <input
            type="number"
            placeholder="enter your contact no."
          /><br /><br />
          <label class="lable">Password</label><br />
          <input type="password" placeholder="enter your password" />
        </div>
      </div>
      <br />
      <button mat-button class="signup-btn">SIGNUP</button> &nbsp; &nbsp; &nbsp;
    </form>
  </fieldset>
</div>

<!-- <label>First Name</label><br />
        <input type="text" />
        <br />
        <br />
        <label>Last Name</label><br />
        <input type="text" />
        <br />
        <br />
        <label>Email</label><br />
        <input type="Email" />
        <br /><br />
        <label>Password</label><br />
        <input type="password" />

        <br /><br /> -->
